BOT_TOKEN=8714258249:AAFktGY2bjdqJ_FrG5gELgdgosfL5P6FKOQ
DB_HOST=db
DB_PORT=3306
DB_USER=botuser
DB_PASSWORD=botpass
DB_NAME=botcartera
MYSQL_ROOT_PASSWORD=rootpass
WEB_PORT=3000
WEB_HOST_PORT=3000
WEB_URL=http://cartera-clientes.ecogarner.com
WEB_USERNAME=admin
WEB_PASSWORD=2QsOPGqEizGqKd2VWjOuOGIj8svE5ZmpAu4i